@using EntityLayer.Concrete
@model List<Destination>

@{
    ViewData["Title"] = "DestinationDetails";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Traversal Travel Category Bootstrap Responsive Template | Blog Single </title>
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="~/Traversal-Starter/assets/css/style-starter.css">

</head>


<body>

    <section class="w3l-about-breadcrumb text-left">
        <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
            <div class="container">
                <h2 class="title">Kampanya Detayları</h2>
                <ul class="breadcrumbs-custom-path mt-2">
                    <li><a href="/Default/Index/">Anasayfa</a></li>
                    <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Kampanya Detay </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="blog-post-main w3l-homeblock1">

        <div class="blog-content-inf pb-5">
            <div class="container pb-lg-4">

                <br />
                <br />
                <br />
                <br />



                <h3>
                    Türkiye’den Güney Avrupa’nın en güzel şehirlerine avantajla uçun!

                </h3>
                <br />
                <div class="promotions">
                    <div class="column">
                        <a href="blog-single.html"><img src="/Traversal-Starter/assets/images/ist_izmr_ant_kampanya_1.webp" alt="" class="img-fluid"></a>

                    </div>
                </div>
                <br />

                <p class="alphabet mb-4">
                    <span class="big-letter">A</span>Türkiye’den ve KKTC’nden Güney Avrupa’nın en renkli şehirlerine seyahat etmeye hazır olun!
                    10 Ocak- 31 Mart 2024 tarihleri arasındaki seyahatiniz için 8 Aralık’a kadar uçak biletinizi alıp özel fiyatlarla ve Türk
                    Hava Yolları standartlarıyla uçmanın ayrıcalığını yaşayın.
                </p>
                <p class="mb-4">
                    Kampanya 4-8 Aralık 2023 tarihleri arasında düzenlenen ve seyahat tarihi 10 Ocak – 31 Mart 2024 arasında olan biletler için geçerlidir.
                    Kampanya yalnızca gidiş-dönüş yolculuk tipinde ve ekonomi sınıfı uçuşlarda geçerlidir.
                    Tablodaki ücretler EcoFly paketi ücretleridir. Paket ücret farkları ödenerek ExtraFly, PrimeFly paketlerine geçiş yapılabilir.
                    Uçuş İstanbul dışında bir yurt içi destinasyondan ve KKTC’nden başlayabilir. Bu durumda toplam ücrete ek olarak yalnızca vergi farkı yansıtılacaktır.
                    Rezervasyon yapıldıktan sonra 1 gün içinde biletleme işlemi tamamlanmalıdır.
                    Kampanya grup rezervasyonları için geçerli değildir.
                    Ücrete havalimanı vergileri, hizmet bedeli ve akaryakıt harçları dahildir.
                    Kampanya bilet fiyatları günlük kur dalgalanmalarına bağlı olarak değişebilir.
                    Kampanyalı biletler sınırlı sayıdadır ve sınırlı süre içinde kullanılabilir.
                    İlgili kampanya sadece Türk Hava Yolları tarafından gerçekleştirilen tarifeli seferlerde geçerlidir. Türk Hava Yolları codeshare seferlerde, Star Alliance partner hava yolları ve AnadoluJet uçuşlarında geçerli değildir.
                    Türk Hava Yolları herhangi bir kural ihlali tespit edilmesi durumunda ilgililer hakkında hukuki işlem başlatma hakkını saklı tutar.
                    Türk Hava Yolları kampanya kural ve koşullarını, tanımları ve diğer bilgileri değiştirme, kampanyayı iptal etme hakkını saklı tutar.
                </p>
                <br />
                <br />
                <br />
                <h3>

                    Güney Avrupa’dan Türkiye’ye özel fiyatlarla uçma zamanı!

                </h3>

                <br />
                <div class="promotions">
                    <div class="column">
                        <a href="blog-single.html"><img src="/Traversal-Starter/assets/images/tr-cikis-kampanya_2.webp" alt="" class="img-fluid"></a>

                    </div>
                </div>
                <br />

                <p class="alphabet mb-4">
                    <span class="big-letter">A</span>10 Ocak - 31 Mart 2024 tarihleri arasındaki seyahatiniz için uçak biletinizi 8 Aralık’a kadar satın
                    alarak Güney Avrupa şehirlerinden Türkiye’nin dört bir yanına ve KKTC’ne avantajlarla uçun, Türk Hava Yolları standartlarının
                    tadını çıkarın!
                </p>
                <p class="mb-4">
                    Kampanya 4-8 Aralık 2023 tarihleri arasında düzenlenen ve seyahat tarihi 10 Ocak – 31 Mart 2024 arasında olan biletler için geçerlidir.
                    Kampanya yalnızca gidiş dönüş yolculuk tipinde ve ekonomi sınıfı uçuşlarda geçerlidir.
                    Tablodaki ücretler EcoFly paketi ücretleridir. Paket ücret farkları ödenerek ExtraFly, PrimeFly paketlerine geçiş yapılabilir.
                    Uçuş İstanbul dışında bir yurt içi destinasyonda ve KKTC’nde sonlanabilir. Bu durumda toplam ücrete ek olarak yalnızca vergi farkı yansıtılacaktır.
                    Rezervasyon yapıldıktan sonra 1 gün içinde biletleme işlemi tamamlanmalıdır.
                    Ücrete havaalanı vergileri, hizmet bedeli ve akaryakıt harçları dahildir.
                    İlgili kampanya sadece Türk Hava Yolları tarafından gerçekleştirilen tarifeli seferlerde geçerlidir. Türk Hava Yolları codeshare seferlerde, Star Alliance partner hava yolları ve AnadoluJet uçuşlarında geçerli değildir.
                    Kampanyalı biletler sınırlı sayıdadır ve sınırlı süre içinde kullanılabilir.
                    Kampanya bilet fiyatları günlük kur dalgalanmalarına bağlı olarak değişebilir.
                    Kampanya grup rezervasyonları için geçerli değildir.
                    Türk Hava Yolları herhangi bir kural ihlali tespit edilmesi durumunda ilgililer hakkında hukuki işlem başlatma hakkını saklı tutar.
                    Türk Hava Yolları kampanya kural ve koşullarını, tanımları ve diğer bilgileri değiştirme, kampanyayı iptal etme hakkını saklı tutar.
                </p>
                <br />
                <br />
                <br />

                <h3>
                    Turkish Airlines Holidays'de Yurt Dışında Rüya Gibi Balayı Tatili Şimdi 8 Kat Mil Hediyeli!
                </h3>

                <br />
                <div class="promotions">
                    <div class="column">
                        <a href="blog-single.html"><img src="/Traversal-Starter/assets/images/gav-cikis-kampanya-3.webp" alt="" class="img-fluid"></a>

                    </div>
                </div>
                <br />

                <p class="alphabet mb-4">
                    <span class="big-letter">A</span>Kampanya 02 Ekim 2023 (dahil) – 28 Mart 2024 (dahil) tarihleri arasında düzenlenen ve seyahat tarihi 01 Kasım 2023 (dahil) – 30 Mart 2024 (dahil) arasında olan biletler için geçerlidir.
                    28 Aralık 2023 ve 02 Ocak 2024 arasında gerçekleşen uçuşlar kampanya kapsamında değildir.

                <p class="mb-4">


                    Kampanya KKTC (Ercan Havalimanı) çıkışlı İstanbul ya da Antalya varışlı, İstanbul ya da Antalya çıkışlı KKTC (Ercan Havalimanı) varışlı, tek yön ya da gidiş-dönüş Economy Class doğrudan uçuşlarda geçerlidir.
                    İndirim aynı rezervasyon numarası altında soyadı aynı olan en az üç yetişkin yolcu bulunması durumunda uygulanacaktır. Yolcular arasında bebek olması durumunda en az dört yolcu olması gerekmektedir.
                    İndirimden faydalanabilmek için tüm aile bireylerinin soyadı hanesi aynı şekilde doldurulmalıdır.
                    Çift soyadına sahip kişiler rezervasyon sırasında soyadı kısmına beraber seyahat edeceği ailenin soyadını girmelidir. Diğer soyadları isim hanesine, ismin ardından girilmelidir.
                    Teklif kapsamında rezervasyon numarası altında bebek yolcu bulunabilir; ancak bebek yolcu ücretine indirim uygulanmayacaktır.
                    Aynı rezervasyon numarası altında en fazla dokuz yolcu bulunabilir.
                    U, W, P ve V sınıfları kampanyaya dahil değildir.
                    Kampanya Türk Hava Yolları mobil uygulaması, web sitesi, satış ofisleri ve yetkili acentelerden düzenlenen biletler için geçerlidir.
                    Kampanya kapsamında, kampanya başlama tarihinden önce konfirme rezervasyon yapılmış uçuşlar için yapılan biletlemelerde de indirim uygulanacaktır.
                    İndirim aktarmalı seferlerde geçerli değildir.
                    Kampanya kapsamında geçerli indirim Türk Hava Yolları tarafından sunulan diğer indirim haklarıyla birleştirilemez.
                    Kampanya kapsamında alınan biletler iptal edilemez, iade ve değişiklik ücret kurallarına göre gerçekleştirilecektir.
                    İndirim, net ücret üzerinden uygulanacaktır. Vergi, harç ve diğer ücretlerde %20 indirim geçerli değildir.
                    Türk Hava Yolları kampanya kural ve koşullarını, tanımları ve diğer bilgileri değiştirme ve kampanyayı iptal etme hakkını saklı tutar.
                    İlgili kampanya ve kuralları sadece Türk Hava Yolları tarafından gerçekleştirilen tarifeli seferlerde geçerlidir. Türk Hava Yolları codeshare seferlerde ve AnadoluJet uçuşlarında geçerli değildir.
                </p>

                <br />
                <br />
                <br />

                <h3>
                    Türkiye’den Güney Avrupa’nın en güzel şehirlerine avantajla uçun!

                </h3>
                <br />
                <div class="promotions">
                    <div class="column">
                        <a href="blog-single.html"><img src="/Traversal-Starter/assets/images/ist_izmr_ant_kampanya_1.webp" alt="" class="img-fluid"></a>

                    </div>
                </div>
                <br />

                <p class="alphabet mb-4">
                    <span class="big-letter">A</span>Türkiye’den ve KKTC’nden Güney Avrupa’nın en renkli şehirlerine seyahat etmeye hazır olun!
                    10 Ocak- 31 Mart 2024 tarihleri arasındaki seyahatiniz için 8 Aralık’a kadar uçak biletinizi alıp özel fiyatlarla ve Türk
                    Hava Yolları standartlarıyla uçmanın ayrıcalığını yaşayın.
                </p>
                <p class="mb-4">
                    Kampanya 4-8 Aralık 2023 tarihleri arasında düzenlenen ve seyahat tarihi 10 Ocak – 31 Mart 2024 arasında olan biletler için geçerlidir.
                    Kampanya yalnızca gidiş-dönüş yolculuk tipinde ve ekonomi sınıfı uçuşlarda geçerlidir.
                    Tablodaki ücretler EcoFly paketi ücretleridir. Paket ücret farkları ödenerek ExtraFly, PrimeFly paketlerine geçiş yapılabilir.
                    Uçuş İstanbul dışında bir yurt içi destinasyondan ve KKTC’nden başlayabilir. Bu durumda toplam ücrete ek olarak yalnızca vergi farkı yansıtılacaktır.
                    Rezervasyon yapıldıktan sonra 1 gün içinde biletleme işlemi tamamlanmalıdır.
                    Kampanya grup rezervasyonları için geçerli değildir.
                    Ücrete havalimanı vergileri, hizmet bedeli ve akaryakıt harçları dahildir.
                    Kampanya bilet fiyatları günlük kur dalgalanmalarına bağlı olarak değişebilir.
                    Kampanyalı biletler sınırlı sayıdadır ve sınırlı süre içinde kullanılabilir.
                    İlgili kampanya sadece Türk Hava Yolları tarafından gerçekleştirilen tarifeli seferlerde geçerlidir. Türk Hava Yolları codeshare seferlerde, Star Alliance partner hava yolları ve AnadoluJet uçuşlarında geçerli değildir.
                    Türk Hava Yolları herhangi bir kural ihlali tespit edilmesi durumunda ilgililer hakkında hukuki işlem başlatma hakkını saklı tutar.
                    Türk Hava Yolları kampanya kural ve koşullarını, tanımları ve diğer bilgileri değiştirme, kampanyayı iptal etme hakkını saklı tutar.
                </p>


                <div class="d-grid left-right mt-5 pb-md-5">
                    <div class="buttons-singles tags">
                        <h4>Tags :</h4>
                        <a href="#blog-tag">Travel</a>
                        <a href="#blog-tag">Culture</a>
                        <a href="#blog-tag">Hotel</a>
                        <a href="#blog-tag">Food</a>
                    </div>
                    <div class="buttons-singles">
                        <h4>Share :</h4>
                        <a href="#blog-share"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                        <a href="#blog-share"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                        <a href="#blog-share"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                        <a href="#blog-share"><span class="fa fa-pinterest-p" aria-hidden="true"></span></a>
                    </div>
                </div>

           
                
                <!-- /grids -->
            </div>

            @* @await Component.InvokeAsync("_CommentListPartial")
            @await Html.PartialAsync("~/Views/Comment/AddComment.cshtml") *@

        </div>
        </div>






    </section>
</body>

</html>






