@using EntityLayer.Concrete
@model List<Kampanya>
@{
    ViewData["Title"] = "Index.cshtml";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!doctype html>
<html lang="zxx">
<body>
    <section class="w3l-about-breadcrumb text-left">
        <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
            <div class="container">
                <h2 class="title">Kampanyalar </h2>
                <ul class="breadcrumbs-custom-path mt-2">

                    <li><a href="/Default/Index/">Ana Sayfa</a></li>
                    <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Kampanyalar </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="grids-1 py-5">
        <div class="grids py-lg-5 py-md-4">
            <div class="container">
                <h3 class="hny-title mb-5">Güncel Kampanyalarımız</h3>
                <div class="row">
                    s
                    <div class="promotions">
                        <div class="column">
                            <a href="DestinationDetails"><img src="/Traversal-Starter/assets/images/ist_izmr_ant_kampanya_1.webp" alt="" class="img-fluid"></a>
                            <div class="info">
                                <br />
                                <h4>
                                    Biletinizi 18-28 Aralık 2023 tarihleri arasında alın, 1 Şubat-14 Mart 2024 tarihleri arasında, Dublin’den Türkiye’nin gözde noktalarına Türk Hava Yolları ayrıcalıklarıyla seyahat edin.
                                </h4>
                                <br />
                                <span>1500$</span>
                                <br /><br />
                                <a href="DestinationDetails" class="btn btn-danger btn-lg bold">Detaylı bilgi</a>

                                <div class="dst-btm">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="promotions">
                        <div class="column">
                            <a href="DestinationDetails"><img src="/Traversal-Starter/assets/images/tr-cikis-kampanya_2.webp" alt="" class="img-fluid"></a>
                            <div class="info">
                                <br />
                                <h4>
                                    Türkiye’den ve KKTC’nden Güney Avrupa’nın en renkli şehirlerine seyahat etmeye hazır olun!
                                </h4>
                                <br />
                                <span>1500$</span>
                                <br /><br />
                                <a href="DestinationDetails" class="btn btn-danger btn-lg bold">Detaylı bilgi</a>

                                <div class="dst-btm">
                                </div>
                            </div>
                        </div>
                    </div>




                    <br />
                    <br />
                    <br />

                    <div class="promotions">
                        <div class="column">
                            <a href="DestinationDetails"><img src="/Traversal-Starter/assets/images/gav-cikis-kampanya-3.webp" alt="" class="img-fluid"></a>
                            <div class="info">
                                <br />
                                <h4>
                                    10 Ocak - 31 Mart 2024 tarihleri arasındaki seyahatiniz için uçak biletinizi 8 Aralık’a kadar satın alarak Güney Avrupa şehirlerinden Türkiye’nin dört bir yanına ve KKTC’ne avantajlarla uçun.

                                </h4>
                                <br />
                                <span>750$</span>
                                <br /><br />
                                <a href="DestinationDetails" class="btn btn-danger btn-lg bold">Detaylı bilgi</a>

                                <div class="dst-btm">
                                </div>
                            </div>
                        </div>
                    </div>


                    <br />
                    <br />
                    <br />

                    <div class="promotions">
                        <div class="column">
                            <a href="DestinationDetails"><img src="/Traversal-Starter/assets/images/holidays-kıbrıs.webp" alt="" class="img-fluid"></a>
                            <div class="info">
                                <br />
                                <h4>
                                    KKTC tatilinize özel 4 kat Mil kazanma fırsatı Turkish Airlines Holidays'te!

                                </h4>
                                <br />
                                <span>750$</span>
                                <br /><br />
                                <a href="DestinationDetails" class="btn btn-danger btn-lg bold">Detaylı bilgi</a>

                                <div class="dst-btm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*     <link rel="stylesheet" href="~/traversal-starter/assets/css/style-liberty.css">
    <script src="~/traversal-starter/assets/js/bootstrap.min.js"></script> *@

</body>
</html>

