@using EntityLayer.Concrete
@model List<Flight>

@{
    ViewData["Title"] = "FlySearch";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<section class="w3l-main-slider" id="home">
    <div class="banner-content">
        <div id="demo-1"
             data-zs-src='["/Traversal-Starter/assets/images/uc1.png", "/Traversal-Starter/assets/images/uc2.jpg","/Traversal-Starter/assets/images/uc20.jpg", "/Traversal-Starter/assets/images/uc5.jpg"]'
             data-zs-overlay="dots">
            <div class="demo-inner-content">
                <div class="container">
                    <div class="banner-infhny">
                       
                           
                        <h3>MERHABA,</h3>
                        <h3>
                            Nereyi keşfetmek istersiniz?
                        </h3>
                        <h6 class="mb-3">Discover your next adventure</h6>
                        <div class="flex-wrap search-wthree-field mt-md-5 mt-4">
                            <form action="#" method="post" class="booking-form">
                                <div class="row book-form">



                                    <div class="form-input col-md-4 mt-md-0 mt-3">
                                        <select name="departure" class="selectpicker">
                                            <option value="">Kalkış</option>
                                            @foreach (var item in Model)
                                            {
                                                <option value="@item.Departure">@item.Departure</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="form-input col-md-4 mt-md-0 mt-3">
                                        <select name="arrival" class="selectpicker">
                                            <option value="">Varış</option>
                                            @foreach (var item in Model)
                                            {
                                                <option value="@item.Arrival">@item.Arrival</option>
                                            }
                                        </select>
                                    </div>



                                    <br />

                                    <div class="form-input col-md-4 mt-md-0 mt-3">
                                        <input type="date" name="departureDate" placeholder="Date" required="">
                                    </div>

                                    <br /> <br /> <br />

                                    <div class="bottom-btn col-md-4 mt-md-0 mt-3">
                                        <button class="btn btn-style btn-secondary" type="submit">
                                            <span class="fa fa-search mr-3" aria-hidden="true"></span> Ara
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@await Component.InvokeAsync("_PopularDestinations")

@await Component.InvokeAsync("_Statistics")

@await Component.InvokeAsync("_Feature")

@await Component.InvokeAsync("_SubAbout")

@await Component.InvokeAsync("_Testimonial")

